/* Reset default margin and padding */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: #159A59;
    color: #ffff;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    width: 100%;
    padding: 20px;
    /* Sesuaikan padding untuk memberikan ruang di sekitar konten */
}

header .text_header {
    font-size: 16px;
    margin-left: 10px;
    font-family: 'Poppins';
}

.container {
    display: grid;
    grid-template-areas: "container-left container-right";
    grid-template-columns: 1fr 1fr;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}

.container .container_left,
.container .container_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container .container_left .logo_tittle,
.container .container_right .tittle_login {
    text-align: center;
}

.container .container_left .text_user {
    font-size: 4vw;
    text-align: center;
    /* Pusatkan teks */
}

.container .container_left .text_welcome {
    color: #777777;
    font-size: 2vw;
    text-align: center;
    /* Pusatkan teks */
}

.container .container_right .tittle_login {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 3vw;
    font-weight: 400;
    font-style: bold;
    text-align: center;
    /* Pusatkan teks */
}

.container .container_right .sub_login {
    color: #777777;
    font-size: 1.5vw;
    max-width: 80%;
    /* Batasi lebar agar tidak terlalu melebar pada layar besar */
    text-align: center;
    /* Pusatkan teks */
}

.container .container_right .form_login {
    width: 100%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5vh;
}

.container .container_right .form_login .username_login,
.container .container_right .form_login .password_login {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.username_login .Username, .password_login .pw {
    padding: 10px;
}

.container .container_right .form_login .username_login .Username,
.container .container_right .form_login .password_login .pw {
    min-height: 2.5vw;
    border: 1px solid #3a3a3a5c;
    border-radius: 5px;
}

.container .container_right .button_login {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    /* Ubah menjadi flex-end agar tombol tetap di kanan */
}

.container .container_right button {
    width: 15vw;
    max-width: 200px;
    /* Batasi lebar tombol */
    height: 2.5vw;
    border-radius: 5px;
    border: none;
    background-color: #159A59;
    color: #ffff;
    cursor: pointer;
}

.container .container_right button:hover {
    background-color: #47C6B7;
}

/* Style for the container */
.container_dashboard {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-areas: "sidebar content";
    min-height: 100vh;
}

/* Style for the sidebar */
.sidebar {
    grid-area: sidebar;
    background-color: #159A59;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.sidebar .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffff;
}

.tittle_nav {
    width: 100%;
}

.tittle_nav h2 {
    text-align: left !important;
    font-family: 'Poppins', sans-serif;
}

.sidebar p {
    color: #fff;
    font-size: 16px;
}

.sidebar ul {
    font-family: 'Poppins', sans-serif;
    list-style: none;
}

.sidebar ul li {
    padding: 10px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #fff;
    display: flex;
    transition: 0.2s;
    justify-content: center;
    align-items: center;
    height: 8vh;
}

.sidebar ul li a:hover {
    background-color: #FFFFFF4D;
    border-radius: 10px;
}

.sidebar ul li a.active {
    background-color: #FFFFFF4D;
    border-radius: 10px;
}

.content_dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
    margin-top: 5vw;
}

.tittle_dashboard {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}

.tittle_dashboard button {
    width: 10vw;
    height: 2.5vw;
    background-color: #159A59;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.content_wrap {
    justify-content: space-between;
    align-items: center;
    width: 80%;
    display: flex;
    flex-direction: row;
}

.content_image {
    height: 10vw;
    width: 10vw;
    overflow: hidden;
}

.content_image img {
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    border-radius: 2vw;
}

.content_text {
    width: 60%;
}

.content_text .content_description{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* Jumlah baris yang ingin ditampilkan */
    -webkit-box-orient: vertical;
    overflow: hidden;
    /* Menampilkan elipsis (...) pada teks yang dipotong */
}

.content_text .content_tittle {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* Jumlah baris yang ingin ditampilkan */
    -webkit-box-orient: vertical;
    overflow: hidden;
    /* Menampilkan elipsis (...) pada teks yang dipotong */
}

.content_button button {
    cursor: pointer;
}

.page-item.active .page-link {
    background-color: #159A59;
    border-color: #159A59;
}

.content_button a {
    text-decoration: none;
}

.pagination {
    display: flex;
    gap: 5px;
    list-style: none;
}

.pagination a {
    text-decoration: none;
    color: #000;
}

.pagination .page-item .active {
    background-color: #159A59;
}

nav {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    /* Mengubah tata letak ketika lebar layar <= 768px */
    .container_dashboard {
        grid-template-columns: 1fr;
        grid-template-areas: "content";
    }
    .sidebar {
        display: none; /* Sembunyikan sidebar */
    }

    .content_dashboard {
        margin-top: 10vw;
    }
}


/* Dashboard Upload */
.content_dashboard_upload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vw;
}

.content_dashboard_upload .form_upload {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    gap: 5vh;
}

.upload_judul, .upload_deskripsi {
    width: 100%;
    height: auto;
}

.upload_judul input {
    width: 100%;
    height: 3vw;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
}

.upload_deskripsi input {
    width: 100%;
    height: 8vw;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
}

.upload_image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 10vw;
    cursor: pointer;
}

.upload_image label {
    cursor: pointer;
    padding: 5vw 30vw;
    border: 2px dashed #159A59;
}

.upload_image input[type="file"] {
    display: none;
}

/* .upload_image:hover,
.upload_image:focus {
    border: 2px dashed #159A59; 
} */

.upload_image input {
    width: 100%;
    border: 1px solid #000;
    border-radius: 5px;
}

.button_upload {
    width: 100%;
    display: flex;
    justify-content: end;
}

.button_upload button {
    width: 15vw;
    height: 2.5vw;
    background-color: #159A59;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

/* Home */

.header {
    padding: 5px 0;
}

.header .content_header {
    display: flex;
    width: 90%;
    align-items: center;
}

.content_header .image_logo {
    width: 5vw;
    height: 5vw;
}

.image_logo img {
    width: 100%;
    height: 100%;
}

.content_header .text_logo {
    width: 15%;
}

.text_logo img{
    width: 100%;
    height: auto;
}

.navbar {
    background-color: #46705C;
}

.text_white {
    color: #ffff;
}

.carousel_home {
    width: 100%;
    height: auto;
}

.carousel-caption {
    width: 100%;
    left: 0 !important;
    right: 0 !important;
}

.carousel-caption p {
    margin-top: 6vw;
    color: #46705C;
}

.carousel-caption a {
    font-size: 1rem;
    padding: 1vw;
    border-radius: 30px;
    background-color: rgba(33, 33, 33, 0.573);
    cursor: pointer;
    color: #ffff;
    transition: background-color 0.3s ease, color 0.3s ease;
    transition: border-radius 0.3s ease;
}

.carousel-caption a:hover {
    padding: 1vw;
    border-radius: 2px;
    background-color: #ffff;
    color: #46705C !important;
    cursor: pointer;
}

.carousel_home .carousel-inner .carousel-item {
    height: auto;
    width: 100%;
    overflow: hidden;
}

.carousel-inner {
    width: 100%;
    height: 50vw;
}

.carousel-item img {
    object-fit: contain !important;
    width: 100%;
}

.image_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    /* Warna putih samar dengan tingkat transparansi (alpha) */
    opacity: 1;
    /* Kecualikan ini jika Anda ingin efek selalu terlihat */
    transition: opacity 0.3s ease;
    /* Animasi efek transparansi */
}

.visi_misi {
    width: 100%;
    height: 15vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #46705C;
}

.visi .content_sp{
    width: 70%;
    margin: 0 auto;
}

.visi_misi .visi_nav, .misi_nav {
    cursor: pointer;
    display: flex;
    gap: 2vw;
    color: #ffff;
    flex-direction: row;
}

.visi_misi .visi_nav i, .misi_nav i {
    font-size: 5vw;
    color: #ffff;
}

.visi_nav .visi_text a:hover,
.misi_nav .misi_text a:hover {
    animation: swing;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;
}

.visi_nav .visi_text a, .misi_nav .misi_text a {
    text-decoration: none;
    padding: 0.5vw;
    background-color: #ffff;
    border-radius: 1vw;
    color: #159A59;
}

.visi_nav .visi_text, .misi_nav .misi_text {
    display: flex;
    flex-direction: column;
}

.struktur_pengurus{
    width: 100%;
    background-color: #46705C;
}

.struktur_organisasi {
    background-color: #ffff;
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vw;
}

.struktur_organisasi .tittle_struktur {
    background-image: linear-gradient(0deg, transparent 50%, #46705C 50%);
    background-size: 100% 5px;
    background-repeat: no-repeat;
    background-position: 0 100%;
    display: inline-block;
    font-family:'Poppins', sans-serif;
    text-align: center;
    line-height: 25px;
}

.tittle_struktur p{
    font-family:'Poppins', sans-serif;
    font-size: 1.5em;
    color: #46705C;
}

.struktur_organisasi .struktur img {
    max-width: 100%;
    height: auto;
}

.gallery {
    position: relative;
    width: 100%;
    height: 25vw;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery_overlay {
    width: 30%;
    height: 100%;
    background-color: #46705ca9;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery .gallery_section {
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 1vw;
    align-items: center;
    top: 20%;
    left: 30%;
    width: max-content;
    padding: 2vw;
    height: 15vw;
    background-color: #ffff;
}

.gallery_photo {
    display: flex;
    gap: 1vw;
}

.gallery .gallery_selection {
    width: 15vw;
    height: 10vw;
}

.gallery .gallery_selection:nth-child(n+4) {
    display: none;
}

.gallery_selection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 5px 15px 10px rgba(0, 0, 0, 0.3);
}

.gallery_section .gallery_button a {
    text-decoration: none;
    padding: 1vw;
    background-color: #46705C;
    color: #ffff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.gallery_section .gallery_button a:hover {
    background-color: #515151;
}

.youtube_content {
    margin: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5vw;
}

.youtube_content .youtube_frame iframe {
    border-radius: 10px;
}

.activity {
    margin: 0 auto;
    width: 90%;
    text-align: center;
}

.activity .tittle_activity {
    margin: 5%;
    background-image: linear-gradient(0deg, transparent 50%, #46705C 50%);
    background-size: 100% 5px;
    background-repeat: no-repeat;
    background-position: 0 100%;
    display: inline-block;
    padding-bottom: 1vw;
}

.activity .slider-container {
    width: 100%;
    overflow: hidden;
}

.card-slider {
    display: -webkit-box;
    /* Jumlah baris yang ingin ditampilkan */
    -webkit-box-orient: horizontal;
    overflow: -moz-hidden-unscrollable;
    overflow: -webkit-hidden-unscollable;
    transition: transform 0.5s ease-in-out;
}

.card {
    width: 300px;
    margin-right: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.card a {
    text-decoration: none;
    color: #000;
}

.card_images {
    width: 100%;
    height: 20vw;
}

.card img {
    object-fit:cover !important;
    max-width: 100%;
    height: 100%;
}

.card-body {
    position: relative;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* Jumlah baris yang ingin ditampilkan */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card-text {
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* Jumlah baris yang ingin ditampilkan */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.button_slider {
    display: flex;
    justify-content: center;
    padding: 5vw;
    gap: 3vw;
}

.button_slider button {
    background-color: #46705C;
    color: #fff;
    border: none;
    padding: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;
    border-radius: 5px;
}

.partnership {
    background-color: #46705C;
    width: 100%;
    text-align: center;
}

.tittle_partnership {
    margin-top: 5%;
    background-image: linear-gradient(0deg, transparent 50%, #ffffff 50%);
    background-size: 100% 5px;
    background-repeat: no-repeat;
    background-position: 0 100%;
    display: inline-block;
    padding-bottom: 1vw;
}

.partnership .image_partnership {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.partnership .image_partnership img {
    padding: 5vw;
    max-width: 30%;
    height: auto;
}

.joinqr {
    background-color: #46705c30;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 5vw;
    gap: 5vw;
}

.joinqr .tittle_join {
    background-image: linear-gradient(0deg, transparent 50%, #46705C 50%);
    background-size: 100% 5px;
    background-repeat: no-repeat;
    background-position: 0 100%;
    display: inline-block;
    padding-bottom: 1vw;
}

.image_join {
    width: 50%;
    height: auto;
}

.image_join img {
    width: 100%;
    height: 100%;
}

.joinqr a {
    background-color: #46705C;
    color: #fff;
    border: none;
    padding: 1vw;
    border-radius: 10px;
    text-decoration: none;
}

.joinqr a:hover {
    background-color: #515151;
    color: #fff;
    transition: background-color 0.3s ease;
    animation: bounce;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;
}

footer {
    background-color: #46705C;
    padding: 1vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

footer .left, .middle, .right {
    width: 30%;
}

footer .left ul, .middle ul, .right ul {
    list-style: none;
}

footer .left ul li {
    color: #ffff;
}

footer .middle, .right {
    padding-top: 7vw;
}

footer .left li a, .middle li a, .right li a {
    text-decoration: none;
    color: #ffff;
}

footer .middle li a:hover {
    color: #000;
}

footer .left img {
    width: 7vw;
    height: auto;
}

footer .left .socmed_icon {
    padding: 3vw;
    display: flex;
    gap: 3vw;
}

footer .left .socmed_icon a {
    color: #ffff;
}

.footer_copyright {
    width: 100%;
    text-align: center;
    color: #ffff;
}

/* Our Activity */
.content_activity {
    display: flex;
    width: 80%;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.activity_images img {
    max-width: 100%;
    height: auto;
}

.activity_description {
    text-indent: 20px;
    text-align: justify;
}

/* About */

.bg_about {
    position: relative;
    width: 100%;
    height: 15vw;
}

.overlay_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(3, 112, 18, 0.588), rgba(0, 0, 0, 0));
}

.bg_about img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container_about {
    margin: 0 auto;
    width: 90%;
    display: grid;
    grid-template-areas: "about_one about_two";
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    font-family: 'Poppins', sans-serif;
    min-height: 100%;
}

.about_content .tittle_content_about {
    width: 80%;
    margin: 2vw auto;
}

.about_content .tittle_content_about .tittle_about {
    background-image: linear-gradient(0deg, transparent 50%, #159A59 50%);
    background-size: 30% 5px;
    background-repeat: no-repeat;
    background-position: 0 100%;
    display: inline-block;
    padding-bottom: 3px;
}

.tittle_content_about .image_about{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.container_about .about_one {
    grid-area: about_one;
    text-indent: 30px;
    text-align: justify;
}

.container_about .about_one img {
    display: block;
    margin: 0 auto;
}

.container_about .about_two {
    grid-area: about_two;
    text-align: justify;
}

.about_one img {
    width: 40%;
    height: auto;
    border-radius: 10px;
}


.visi {
    padding-top: 5vw;
    padding-bottom: 5vw;
    width: 100%;
    position: relative;
    background-color: #dcdcdc1f;
    text-align: justify;
}

.visi .logo_section {
    position: absolute;
    right: -0;
    bottom: 0;
}

.visi .logo_section img {
    width: auto;
    height: 30vw;
    opacity: 0.3;
}

.visi .tittle_visi {
    background-image: linear-gradient(0deg, transparent 50%, #46705C 50%);
    background-size: 50% 5px;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    display: inline-block;
    font-family:'Poppins', sans-serif;
    text-align: center;
    line-height: 25px;
    width: 100%;
}

.visi .container_visi {
    margin: 0 auto;
    width: 80%;
    display: flex;
    gap: 3vw;
}

.container_misi {
    margin: 0 auto;
    width: 80%;
    display: flex;
    gap: 3vw;
}

.container_visi .content_visi {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.container_misi .content_misi {
    width: 70%;
    display: flex;
    flex-direction: column;
}

/* Gallery */
.container_gallery {
    margin: 0 auto;
    width: 90%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
}

.container_gallery .gallery_content {
    width: 30%;
    height: 20vw;
}

.gallery_content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    border: 1px solid #46705C;
}

@media (max-width: 768px) {
    .header {
        padding: 5px 0;
    }

    .header .content_header {
        justify-content: center;
        display: flex;
        width: 90%;
        align-items: center;
    }

    .carousel-caption p{
        margin: 5vw auto;
    }

    .content_header .image_logo {
        width: 15vw;
        height: 15vw;
    }

    .image_logo img {
        width: 100%;
        height: 100%;
    }

    .navbar-toggler {
        background-color: #ffff !important;
        border-color: none !important;
    }

    .content_header p {
        margin-bottom: 0;
        color: #46705C;
    }


    .carousel_home {
        width: 100%;
        height: auto;
    }

    .carousel-caption {
        width: 90%;
    }

    .carousel-caption a {
        padding: 2.5vw !important;
        border-radius: 30px;
        background-color: rgba(33, 33, 33, 0.573);
        cursor: pointer;
        color: #ffff;
        transition: background-color 0.3s ease, color 0.3s ease;
        transition: border-radius 0.3s ease;
    }

    .carousel-caption a:hover {
        padding: 1vw;
        border-radius: 2px;
        background-color: #ffff;
        color: #46705C !important;
        cursor: pointer;
    }

    .carousel_home .carousel-inner .carousel-item {
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    .carousel-inner {
        width: 100%;
    }

    .carousel-item img {
        object-fit: cover !important;
        width: 100%;
    }

    .visi_misi {
        padding: 5%;
        height: max-content;
        display: flex;
        flex-direction: column;
        gap: 5vw;
        align-items: center;
    }

    .visi_misi .visi_nav, .misi_nav {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 2vw;
        color: #ffff;
    }

    .visi_misi .visi_nav i, .misi_nav i {
        font-size: 15vw;
        color: #ffff;
    }

    .visi_nav .visi_text a, .misi_nav .misi_text a {
        text-decoration: none;
        padding: 2vw;
        background-color: #ffff;
        border-radius: 1vw;
        color: #159A59;
    }

    .gallery {
        position: relative;
        width: 100%;
        height: 70vw;
    }

    .gallery img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .gallery_overlay {
        width: 30%;
        height: 100%;
        background-color: #46705ca9;
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .gallery .gallery_section {
        position: absolute;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto;
        width: 70%;
        height: 50vw;
        background-color: #ffff;
    }

    .gallery_photo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 3vw;
    }

    .gallery .gallery_selection:nth-child(n+3) {
        display: none;
    }

    .gallery .gallery_selection {
        width: 30vw;
        height: 20vw;
    }

    .gallery_selection img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
        box-shadow: 5px 1px 1px rgba(0, 0, 0, 0.3);
    }

    .gallery_section .gallery_button a {
        text-decoration: none;
        padding: 1vw;
        background-color: #46705C;
        color: #ffff;
        border-radius: 5px;
        transition: background-color 0.3s ease;
        margin-right: 3vw;
    }

    .gallery_section .gallery_button a:hover {
        background-color: #515151;
    }

    .card_images {
        width: 100%;
        height: 50vw;
    }

    .button_slider button {
        background-color: #46705C;
        color: #fff;
        border: none;
        padding: 2vw;
        padding-left: 10vw;
        padding-right: 10vw;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .partnership .image_partnership {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .tittle_join h1 {
        font-size: 1.5em;
    }

    /* Gallery */
    .container_gallery {
        width: 100% !important;
        /* Mengisi lebar penuh pada layar seluler */
        padding: 0 2vw;
        /* Padding untuk menjaga jarak dari tepi */
    }

    .gallery_content {
        width: 100% !important;
        height: max-content !important;
        /* Satu kolom per baris pada layar seluler */
        padding: 2vw 0;
        /* Padding atas dan bawah untuk jarak vertikal */
    }

    /* Dashboard */
    .container_dashboard {
        grid-template-columns: 1fr;
        /* Mengubah menjadi satu kolom pada layar kecil */
        grid-template-areas: "content";
        /* Hanya menampilkan konten pada layar kecil */
    }

    .sidebar {
        display: none;
        /* Menyembunyikan sidebar pada layar kecil */
    }

    header {
        text-align: center;
    }

    .container {
        display: flex;
        flex-direction: column;
        height: 80vh;
    }

    .container_left .logo img {
        max-width: 150px;
        height: auto;
    }

    .container_left .logo_tittle {
        visibility: hidden;
    }

    .container_right .tittle_login {
        font-size: 2rem !important;
    }

    .container_right .sub_login {
        font-size: 1rem !important;
    }

    .container_right .form_login {
        width: 100%;
        min-height: 20vh !important;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start !important;
        gap: 10px !important;
    }

    .container .container_right .button_login {
        width: 100%;
        justify-content: center;
    }

    .button_login button {
        height: 30px !important;
        width: 15vh !important;
    }

    footer {
        padding: 1vw;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
    }

    footer .left, .middle, .right {
        width: 100%;
    }

    footer .left img {
        width: 25vw;
        height: auto;
    }

    .footer_copyright {
        border-top: 1px solid #ffff;
    }

    /* About */
    .container_about {
        margin: 2vw auto;
        width: 80%;
        display: flex !important;
        flex-direction: column !important;
        gap: 20px;
        font-family: 'Poppins', sans-serif;
        min-height: max-content;
    }

    .about_content .tittle_content_about {
        width: 80%;
        margin: 2vw auto;
    }

    .about_content .tittle_content_about .tittle_about {
        background-image: linear-gradient(0deg, transparent 50%, #159A59 50%);
        background-size: 30% 5px;
        background-repeat: no-repeat;
        background-position: 0 100%;
        display: inline-block;
        padding-bottom: 3px;
    }

    .container_about .about_one {
        text-indent: 30px;
        text-align: justify;
    }

    .container_about .about_one img {
        display: block;
        margin: 0 auto;
        width: 70%;
        height: auto;
        border-radius: 10px;
    }

    .container_about .about_two {
        text-align: justify;
    }


    .visi {
        padding-top: 5vw;
        padding-bottom: 5vw;
        width: 100%;
        position: relative;
        background-color: #dcdcdc1f;
        text-align: justify;
    }

    .visi .section_content{
        display: none;
    }

    .visi .logo_section {
        position: absolute;
        right: -0;
        bottom: 0;
        display: none;
    }

    .visi .logo_section img {
        width: auto;
        height: 30vw;
        opacity: 0.3;
    }

    .visi .tittle_visi {
        font-style: bolder;
        display: block;
        text-align: center;
    }

    .visi .container_visi {
        margin: 0 auto;
        width: 80%;
        display: flex;
        gap: 3vw;
    }

    .container_misi {
        margin: 0 auto;
        width: 80%;
        display: flex;
        gap: 3vw;
    }

    .container_visi .content_visi {
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    .container_misi .content_misi {
        width: 90%;
        display: flex;
        flex-direction: column;
    }
}